<header class="header-container">
  <aside>
    <div class="logo-img">
      <a href="https://alefesk8.github.io" target="_blank" rel="external">
        <img src="https://alefesk8.github.io/images/about.png" alt="logo">
      </a>
    </div>
    <div class="menu-container">
      <div class="menu-item">
        <a href="#">Home</a>
      </div>
      <div class="menu-item">
        <a href="#">Sobre</a>
      </div>
      <div class="menu-item">
        <a href="#">Contato</a>
      </div>
    </div>
  </aside>
  <div class="social-medias">
    <div class="social-media-item">
      <a href="https://www.linkedin.com/in/alefe-kouichi-araujo-mikawa" target="_blank" rel="external">
        <img src="https://image.similarpng.com/very-thumbnail/2020/05/Linkedin-logo-vector-PNG.png" alt="LinkedIn">
      </a>
    </div>
    <div class="social-media-item">
      <a href="https://github.com/AlefeSk8" target="_blank" rel="external">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub">
      </a>
    </div>
    <div class="social-media-item">
      <a href="https://www.instagram.com/alefe_sk8" target="_blank" rel="external">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq2SdNQH74l7e6srwG9ZShlCPauj2XafHIq8bkLxBRNQ&s" alt="Instagram">
      </a>
    </div>
  </div>
</header>
